.submit {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.add-content-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.loader {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}
