.submit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.add-content-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.loader {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}

h3 {
    text-align: center;
}

.table-wrapper {
    height: 90vh;
    overflow-y: auto;
}
